@using HrProject.Domain.Entities;
@using HrProject.Presentation.ViewModels;
@model PersonelDocumentViewModel
@{

    var documentCode = ViewData["documentCode"] as string;
    var authorityId = ViewData["authorityId"] != null ? (int)ViewData["authorityId"] : (int?)null;
    

}

<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 9999;
        display: none;
    }

    #loading-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .form-group label {
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    .fas {
        font-size: 30px;
        color: #92968f; /* İkon rengini yeşil olarak ayarla */
        margin-right: 20px;
    }

    .btn i {
        color: inherit; /* Orijinal renk değerini koru */
    }

    input.form-control:focus {
        border-color: #80bdff; /* Odaklandığında çerçeve rengi */
        box-shadow: 0 0 10px rgba(128, 189, 255, 0.8); /* Gölge efekti */
    }

    .custom-table tr:hover {
        background-color: #0D6EFD;
    }
    /* DataTables Buttons sağ üst köşe */
    .dataTables_wrapper .dt-buttons {
        position: absolute;
        top: -16%;
        right: 0;
    }
</style>

@{
    int i = 1;
}

<div id="overlay">
    <div id="loading-message">
        <div class="spinner-border" style="width: 50px; height: 50px;" role="status">
            <span class="visually-hidden">Yükleniyor...</span>
        </div>
    </div>
</div>

<h3>Yetki Belgesi Listesi</h3>
<div class="card">
    <div class="card-body">

        
        <form id="myForm" method="get" action="@Url.Action("GetDocList")">
            <div class="row">

                <div class="form-group col-md-2">
                    <label for="documentCode">Yetki Adı:</label>
                    <select id="authorityId" name="authorityId" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var auth in ViewBag.PersonelAuthorities)
                        {
                            <option value="@auth.Id @(auth.Id == authorityId ? "selected" : "")">@auth.Name</option>
                        }
                    </select>
                </div>



                
                
                <div class="form-group col-md-2">
                    <label for="documentCode">Belge Kodu:</label>
                    <input type="text" id="documentCode" name="documentCode" class="form-control" value="@documentCode" />
                </div>

                <div class="form-group col-md-2">
                    <label for="IsRequired">Zorunlu Mu:</label>
                    <select id="IsRequired" name="IsRequired" class="form-control">
                        <option value="">Seçiniz</option>
                        <option value="True">Evet</option>
                        <option value="False">Hayır</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                <a class="btn btn-warning mx-4 my-4" asp-action="GetPerDocList" asp-controller="PersonelDocument"> <i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
            <button type="submit" class="btn btn-success my-2"> <i class="fas fa-search" style="font-size: 24px;"></i> </button>
        </form>

        

        <table id="example" class="table table-hover custom-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Yetki Adı</th>
                    <th scope="col">Belge Adı</th>
                    <th scope="col">Zorunlu Mu</th>
                    <th scope="col">İndir</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PersonelDocuments)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.PersonelAuthority.Name</td>
                        <td>@item.DocumentCode</td>
                        
                        <td>
                            @if (item.IsRequired == true)
                            {
                                <text>Zorunlu</text>
                            }
                            else
                            {
                                <text>Zorunlu-Değil</text>
                            }
                        </td>
                        <td><a href="~/perdocument/@item.Template"><i class="fas fa-download" style="font-size: 20px; color:aqua;"></i></a></td>
                        @* <td><a href="@Url.Content("~/perdocument/" + item.Template)"><i class="fas fa-download" style="font-size: 20px;"></i></a></td> *@
                    </tr>
                    i++;
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>

<script>
    $(window).on('load', function () {
        $('#overlay').fadeOut('slow');
    });

    $(document).on('submit', 'form', function () {
        $('#overlay').fadeIn('slow');
    });

</script>
