@using HrProject.Domain.Entities;
@using HrProject.Presentation.ViewModels;
@model HesapViewModel


<h2>Hesap Planı</h2>


<table class="table">
    <thead>
        <tr>
            <th colspan="6">Hesap Kodu</th>
            <th>Hesap Adı</th>
            <th>Borç</th>
            <th>Alacak</th>
            <th>Bakiye</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hesapSiniflari in Model.HesapSiniflaris)
        {
            <tr>
                <td colspan="6" class="toggle-row">
                    <button class="toggle-althesap btn btn-primary" id="btnhesapSinifi-@hesapSiniflari.Id">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span>@hesapSiniflari.HesapCode</span>
                </td>
                <td>@hesapSiniflari.HesapName</td>
                <td>@hesapSiniflari.Debt</td>
                <td>@hesapSiniflari.Receivable</td>
                <td>@hesapSiniflari.Balance</td>
            </tr>
            @foreach (var hesapGruplari in hesapSiniflari.HesapGruplari)
            {
                <tr>
                    <td></td>
                    <td colspan="5" class="toggle-row">
                        <button class="toggle-hesapGrup btn btn-primary" id="btnhesapGrubu-@hesapGruplari.Id">
                            <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-warning" onclick="openModal('@hesapGruplari.Id','@hesapGruplari.HesapCode', '@hesapGruplari.HesapName', '@hesapGruplari.Debt', '@hesapGruplari.Receivable', '@hesapGruplari.Balance','@hesapGruplari.HesapSiniflariId','@hesapGruplari.HesapSiniflari.HesapCode','@hesapGruplari.HesapSiniflari.HesapName')">
                            <i class="fas fa-edit"></i>
                        </button>
                        <span>@hesapGruplari.HesapCode</span>
                    </td>
                    <td>@hesapGruplari.HesapName</td>
                    <td>@hesapGruplari.Debt</td>
                    <td>@hesapGruplari.Receivable</td>
                    <td>@hesapGruplari.Balance</td>
                </tr>
                @foreach (var hesapPlani in hesapGruplari.HesapPlani)
                {
                    <tr style="display:none" class="hesapPlani-@hesapGruplari.Id">
                        <td></td>
                        <td></td>
                        <td colspan="4" class="toggle-row">
                            <button class="toggle-hesapPlani btn btn-primary" id="btnhesapPlani-@hesapPlani.Id">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button class="btn btn-warning" onclick="openModal2('@hesapPlani.Id','@hesapPlani.HesapCode', '@hesapPlani.HesapName', '@hesapPlani.Debt', '@hesapPlani.Receivable', '@hesapPlani.Balance','@hesapPlani.HesapGruplariId','@hesapPlani.HesapGruplari.HesapCode','@hesapPlani.HesapGruplari.HesapName')">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-success" onclick="openModal6('@hesapPlani.Id','@hesapPlani.HesapGruplariId','@hesapPlani.HesapCode','@hesapPlani.HesapName')">
                                <i class="fas fa-plus"></i>
                            </button>
                            <span>@hesapPlani.HesapCode</span>
                        </td>
                        <td>@hesapPlani.HesapName</td>
                        <td>@hesapPlani.Debt</td>
                        <td>@hesapPlani.Receivable</td>
                        <td>@hesapPlani.Balance</td>
                    </tr>
                    @foreach (var hesapMuavin in hesapPlani.HesapMuavin)
                    {
                        <tr style="display:none" class="hesapMuavin-@hesapPlani.Id">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3" class="toggle-row">
                                <button class="toggle-hesapMuavin btn btn-primary" id="btnhesapMuavin-@hesapMuavin.Id">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn btn-warning" onclick="openModal3('@hesapMuavin.Id','@hesapMuavin.HesapCode', '@hesapMuavin.HesapName', '@hesapMuavin.Debt', '@hesapMuavin.Receivable', '@hesapMuavin.Balance','@hesapMuavin.HesapPlaniId','@hesapMuavin.HesapPlani.HesapCode','@hesapMuavin.HesapPlani.HesapName')">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-success" onclick="openModal7('@hesapMuavin.Id','@hesapMuavin.HesapPlaniId','@hesapMuavin.HesapCode','@hesapMuavin.HesapName')">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn btn-danger delete1" data-newfood-id="@hesapMuavin.Id">
                                    <i class="fas fa-trash"></i>
                                </button>
                                
                                <span>@hesapMuavin.HesapCode</span>
                            </td>
                            <td>@hesapMuavin.HesapName</td>
                            <td>@hesapMuavin.Debt</td>
                            <td>@hesapMuavin.Receivable</td>
                            <td>@hesapMuavin.Balance</td>
                        </tr>
                        @foreach (var hesapTali in hesapMuavin.HesapTali)
                        {
                            <tr style="display:none" class="hesapTali-@hesapMuavin.Id">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" class="toggle-row">
                                    <button class="toggle-hesapTali btn btn-primary" id="btnhesapTali-@hesapTali.Id">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-warning" onclick="openModal4('@hesapTali.Id','@hesapTali.HesapCode', '@hesapTali.HesapName', '@hesapTali.Debt', '@hesapTali.Receivable', '@hesapTali.Balance','@hesapTali.HesapMuavinId','@hesapTali.HesapMuavin.HesapCode','@hesapTali.HesapMuavin.HesapName')">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-success" onclick="openModal8('@hesapTali.Id','@hesapTali.HesapMuavinId','@hesapTali.HesapCode','@hesapTali.HesapName')">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-danger delete2" data-newfood-id="@hesapTali.Id">  <i class="fas fa-trash"></i>
                                </button>
                                    <span>@hesapTali.HesapCode</span>
                                </td>
                                <td>@hesapTali.HesapName</td>
                                <td>@hesapTali.Debt</td>
                                <td>@hesapTali.Receivable</td>
                                <td>@hesapTali.Balance</td>
                            </tr>
                            @foreach (var hesapDetay in hesapTali.HesapDetay)
                            {
                                <tr style="display:none" class="hesapDetay-@hesapTali.Id">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="1" class="toggle-row">
                                        <button class="btn btn-warning ms-4" onclick="openModal5('@hesapDetay.Id','@hesapDetay.HesapCode', '@hesapDetay.HesapName', '@hesapDetay.Debt', '@hesapDetay.Receivable', '@hesapDetay.Balance','@hesapDetay.HesapTaliId','@hesapDetay.HesapTali.HesapCode','@hesapDetay.HesapTali.HesapName')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger delete3" data-newfood-id="@hesapDetay.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>

                                        <span style="margin-left:7%">@hesapDetay.HesapCode</span>
                                    </td>
                                    <td>@hesapDetay.HesapName</td>
                                    <td>@hesapDetay.Debt</td>
                                    <td>@hesapDetay.Receivable</td>
                                    <td>@hesapDetay.Balance</td>
                                </tr>
                            }
                        }
                    }
                }
            }
        }
    </tbody>

</table>


<!-- Modal - HESAP GRUPLARI--> 
<div class="modal fade" id="yenihesapModal" tabindex="-1" role="dialog" aria-labelledby="yenihesapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModalLabel">Hesap Ekle/Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="UpdateHesapGruplari" method="post">
                   @* <input type="hidden" name="HesapGruplariId" id="HesapGruplariIdInput" value="" /> *@
                    <input type="hidden" name="Id" id="hgID" value="" />
                    <input type="hidden" name="HesapSiniflariId" id="hsID" value="" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapSiniflari.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapSiniflari.HesapCode" type="text" class="form-control" id="hesapcode1" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapSiniflari.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapSiniflari.HesapName" type="text" class="form-control" id="hesapname1" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname">
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP PLANI-->
<div class="modal fade" id="yenihesapModal2" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal2Label">Hesap Ekle/Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="UpdateHesapPlani" method="post">
                    <input type="hidden" name="Id" id="hpID" value="" />
                    <input type="hidden" name="HesapGruplariId" id="hgrID" value="" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapGruplari.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapGruplari.HesapCode" type="text" class="form-control" id="hesapcode3" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapGruplari.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapGruplari.HesapName" type="text" class="form-control" id="hesapname3" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode2" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname2">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP MUAVİN-->
<div class="modal fade" id="yenihesapModal3" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal3Label">Hesap Ekle/Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="UpdateHesapMuavin" method="post">
                    <input type="hidden" name="Id" id="hmID" value="" />
                    <input type="hidden" name="HesapPlaniId" id="hplID" value="" />
                    

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapPlani.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapPlani.HesapCode" type="text" class="form-control" id="hesapcode5" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapPlani.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapPlani.HesapName" type="text" class="form-control" id="hesapname5" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode4">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname4">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP TALİ-->
<div class="modal fade" id="yenihesapModal4" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal4Label">Hesap Ekle/Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="UpdateHesapTali" method="post">
                    <input type="hidden" name="Id" id="htID" value="" />
                    <input type="hidden" name="HesapMuavinId" id="hmuID" value="" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapMuavin.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapMuavin.HesapCode" type="text" class="form-control" id="hesapcode7" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapMuavin.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapMuavin.HesapName" type="text" class="form-control" id="hesapname7" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode6">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname6">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP DETAY-->
<div class="modal fade" id="yenihesapModal5" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal5Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal5Label">Hesap Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="UpdateHesapDetay" method="post">
                    <input type="hidden" name="Id" id="hdID" value="" />
                    <input type="hidden" name="HesapTaliId" id="htaliID" value="" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapTali.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapTali.HesapCode" type="text" class="form-control" id="hesapcode9" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapTali.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapTali.HesapName" type="text" class="form-control" id="hesapname9" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode8">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname8">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP MUAVİN EKLEME-->
<div class="modal fade" id="yenihesapModal6" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal6Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal6Label">Hesap Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="AddHesapMuavin" id="muavinForm" method="post">
                    @* <input type="hidden" name="Id" id="hmuvID" value="" /> *@
                    <input type="hidden" name="HesapPlaniId" id="hplaniID" value="@Model.HesapPlaniId" />
                    <input type="hidden" name="HesapPlani.HesapGruplariId" id="hgrupID" value="@Model.HesapPlani.HesapGruplariId" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapPlani.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapPlani.HesapCode" type="text" class="form-control" id="hesapcode11" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapPlani.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapPlani.HesapName" type="text" class="form-control" id="hesapname11" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode10">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname10">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="addHesapMuavin()"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP TALİ EKLEME-->
<div class="modal fade" id="yenihesapModal7" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal7Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal7Label">Hesap Ekle/Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="AddHesapTali" method="post">
                    @* <input type="hidden" name="Id" id="htaliID" value="" /> *@
                    <input type="hidden" name="HesapMuavinId" id="hmuavinID" value="@Model.HesapMuavinId" />
                    <input type="hidden" name="HesapMuavin.HesapPlaniId" id="hplanID" value="@Model.HesapMuavin.HesapPlaniId" />


                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapMuavin.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapMuavin.HesapCode" type="text" class="form-control" id="hesapcode13" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapMuavin.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapMuavin.HesapName" type="text" class="form-control" id="hesapname13" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode12">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname12">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>

<!-- Modal - HESAP DETAY EKLEME-->
<div class="modal fade" id="yenihesapModal8" tabindex="-1" role="dialog" aria-labelledby="yenihesapModal8Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="hesapModal8Label">Hesap Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-controller="Hesap" asp-action="AddHesapDetay" method="post">
                    <input type="hidden" name="HesapTaliId" id="htalihesID" value="@Model.HesapTaliId" />
                    <input type="hidden" name="HesapTali.HesapMuavinId" id="hmuavhesID" value="@Model.HesapTali.HesapMuavinId" />

                    <div class="card">
                        <div class="row">
                            <div class="form-group row my-3">
                                <label for="HesapTali.HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapTali.HesapCode" type="text" class="form-control" id="hesapcode15" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapTali.HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Ana Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapTali.HesapName" type="text" class="form-control" id="hesapname15" readonly>
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label for="HesapCode" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Kodu</label>
                                <div class="col-lg-9">
                                    <input name="HesapCode" type="text" class="form-control" id="hesapcode14">
                                </div>
                            </div>
                            <div class="form-group row my-3">
                                <label name="HesapName" for="hesapname" class="col-lg-3 col-form-label" style="font-weight: bold;">Hesap Adı</label>
                                <div class="col-lg-9">
                                    <input name="HesapName" type="text" class="form-control" id="hesapname14">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            @* <button type="submit" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i></button> *@
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>


<script>
    $(document).ready(function () {
        $('.toggle-althesap').click(function () {
            var itemId = $(this).attr('id').split('-')[1];
            var detailsRow = $('.hesapGrubu-' + itemId);
            detailsRow.toggle('slow');
            var icon = $(this).find('i');
            icon.toggleClass('fa-plus fa-minus');
        });

        $('.toggle-hesapGrup').click(function () {
            var grupId = $(this).attr('id').split('-')[1];
            var detailsRow = $('.hesapPlani-' + grupId);
            detailsRow.toggle('slow');
            var icon = $(this).find('i');
            icon.toggleClass('fa-plus fa-minus');
        });

        $('.toggle-hesapPlani').click(function () {
            var planId = $(this).attr('id').split('-')[1];
            var detailsRow = $('.hesapMuavin-' + planId);
            detailsRow.toggle('slow');
            var icon = $(this).find('i');
            icon.toggleClass('fa-plus fa-minus');
        });

        $('.toggle-hesapMuavin').click(function () {
            var muavinId = $(this).attr('id').split('-')[1];
            var detailsRow = $('.hesapTali-' + muavinId);
            detailsRow.toggle('slow');
            var icon = $(this).find('i');
            icon.toggleClass('fa-plus fa-minus');
        });

        $('.toggle-hesapTali').click(function () {
            var taliId = $(this).attr('id').split('-')[1];
            var detailsRow = $('.hesapDetay-' + taliId);
            detailsRow.toggle('slow');
            var icon = $(this).find('i');
            icon.toggleClass('fa-plus fa-minus');
        });
    });
</script>
<script>
    // HESAP GRUPLARINI GÜNCELLEME
    // Satıra tıklandığında modalı aç
    function openModal(Id, hesapCode, hesapName, debt, receivable, balance, HesapSiniflariId, hesapCode1, hesapName1) {
        // Modal içindeki gizli input alanına değerleri set et
       
        $('#hgID').val(Id); // Burada IdInput'e uygun bir ID vermelisiniz, şu anlık varsayılan bir isim koydum
       
        // Modal içindeki form elemanlarına değerleri set et
        $('#hesapcode').val(hesapCode);
        $('#hesapname').val(hesapName);

        $('#hsID').val(HesapSiniflariId);

        $('#hesapcode1').val(hesapCode1);
        $('#hesapname1').val(hesapName1);
        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal').modal('show');
    }
</script>
<script>
    // HESAP PLANINI GÜNCELLEME
    // Satıra tıklandığında modalı aç
    function openModal2(Id, hesapCode2, hesapName2, debt, receivable, balance, HesapGruplariId, hesapCode3, hesapName3) {
        // Modal içindeki gizli input alanına değerleri set et

        $('#hpID').val(Id); // Burada IdInput'e uygun bir ID vermelisiniz, şu anlık varsayılan bir isim koydum

        // Modal içindeki form elemanlarına değerleri set et
        $('#hesapcode2').val(hesapCode2);
        $('#hesapname2').val(hesapName2);

        $('#hgrID').val(HesapGruplariId);

        $('#hesapcode3').val(hesapCode3);
        $('#hesapname3').val(hesapName3);
        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal2').modal('show');
    }
</script>
<script>
    // HESAP MUAVİNİ GÜNCELLEME
    // Satıra tıklandığında modalı aç
    function openModal3(Id, hesapCode4, hesapName4, debt, receivable, balance, HesapPlaniId, hesapCode5, hesapName5) {
        // Modal içindeki gizli input alanına değerleri set et

        $('#hmID').val(Id); // Burada IdInput'e uygun bir ID vermelisiniz, şu anlık varsayılan bir isim koydum

        // Modal içindeki form elemanlarına değerleri set et
        $('#hesapcode4').val(hesapCode4);
        $('#hesapname4').val(hesapName4);

        $('#hplID').val(HesapPlaniId);

        $('#hesapcode5').val(hesapCode5);
        $('#hesapname5').val(hesapName5);
        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal3').modal('show');
    }
</script>
<script>
    // HESAP TALİ GÜNCELLEME
    // Satıra tıklandığında modalı aç
    function openModal4(Id, hesapCode6, hesapName6, debt, receivable, balance, HesapMuavinId, hesapCode7, hesapName7) {
        // Modal içindeki gizli input alanına değerleri set et

        $('#htID').val(Id); // Burada IdInput'e uygun bir ID vermelisiniz, şu anlık varsayılan bir isim koydum

        // Modal içindeki form elemanlarına değerleri set et
        $('#hesapcode6').val(hesapCode6);
        $('#hesapname6').val(hesapName6);

        $('#hmuID').val(HesapMuavinId);

        $('#hesapcode7').val(hesapCode7);
        $('#hesapname7').val(hesapName7);
        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal4').modal('show');
    }
</script>
<script>
    // HESAP DETAY GÜNCELLEME
    // Satıra tıklandığında modalı aç
    function openModal5(Id, hesapCode8, hesapName8, debt, receivable, balance, HesapTaliId, hesapCode9, hesapName9) {
        // Modal içindeki gizli input alanına değerleri set et

        $('#hdID').val(Id); // Burada IdInput'e uygun bir ID vermelisiniz, şu anlık varsayılan bir isim koydum

        // Modal içindeki form elemanlarına değerleri set et
        $('#hesapcode8').val(hesapCode8);
        $('#hesapname8').val(hesapName8);

        $('#htaliID').val(HesapTaliId);

        $('#hesapcode9').val(hesapCode9);
        $('#hesapname9').val(hesapName9);
        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal5').modal('show');
    }
</script>
<script>
    // HESAP MUAVİNİ EKLEME
    // Satıra tıklandığında modalı aç
    function openModal6(HesapPlaniId, HesapGruplariId, hesapCode11, hesapName11, hesapCode10, hesapName10) {
        // Modal içindeki gizli input alanına değerleri set et

     
        // Modal içindeki form elemanlarına değerleri set et
        
        $('#hplaniID').val(HesapPlaniId);
        $('#hgrupID').val(HesapGruplariId);

        $('#hesapcode11').val(hesapCode11);
        $('#hesapname11').val(hesapName11);

        $('#hesapcode10').val(hesapCode10);
        $('#hesapname10').val(hesapName10);

        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal6').modal('show');
    }
</script>
<script>
    //MUAVİN HESAP AYNISI EKLENMESİN KONTROLÜ
    function addHesapMuavin() {
        // JavaScript ile formu submit et
        var form = document.querySelector("#muavinForm");
        var formData = new FormData(form);

        // AJAX kullanarak formu gönder
        $.ajax({
            url: form.action,
            type: form.method,
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                // Başarıyla eklendiği durumu
                alert("Hesap Muavin başarıyla eklendi!");
            },
            error: function (xhr, status, error) {
                // Hata durumu
                if (xhr.status === 400) {
                    // ModelState hatası
                    var errors = xhr.responseJSON.errors;

                    // Örneğin, HesapCode ile ilgili hata varsa
                    var hesapCodeError = errors["HesapCode"];
                    if (hesapCodeError) {
                        alert(hesapCodeError);
                    }
                } else {
                    // Diğer hata durumları
                    alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                }
            }
        });
    }
</script>
<script>
    // HESAP TALİ EKLEME
    // Satıra tıklandığında modalı aç
    function openModal7(HesapMuavinId, HesapPlaniId, hesapCode13, hesapName13, hesapCode12, hesapName12) {
        // Modal içindeki gizli input alanına değerleri set et


        // Modal içindeki form elemanlarına değerleri set et
        $('#hmuavinID').val(HesapMuavinId);
        $('#hplanID').val(HesapPlaniId);
       

        $('#hesapcode13').val(hesapCode13);
        $('#hesapname13').val(hesapName13);

        $('#hesapcode12').val(hesapCode12);
        $('#hesapname12').val(hesapName12);

        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal7').modal('show');
    }
</script>
<script>
    // HESAP DETAY EKLEME
    // Satıra tıklandığında modalı aç
    function openModal8(HesapTaliId, HesapMuavinId, hesapCode15, hesapName15, hesapCode14, hesapName14) {
        // Modal içindeki gizli input alanına değerleri set et


        // Modal içindeki form elemanlarına değerleri set et
        $('#htalihesID').val(HesapTaliId);
        $('#hmuavhesID').val(HesapMuavinId);


        $('#hesapcode15').val(hesapCode15);
        $('#hesapname15').val(hesapName15);

        $('#hesapcode14').val(hesapCode14);
        $('#hesapname14').val(hesapName14);

        // Gerekli diğer alanları da set edebilirsiniz

        // Modal'ı aç
        $('#yenihesapModal8').modal('show');
    }
</script>
<script>
    $(document).ready(function () {
        // Satırı silmek için
        // Fas fa-trash butonuna tıklanınca
        $('tbody').on('click', '.delete1', function () {
            var row = $(this).closest('tr');
            var muavinId = $(this).data('newfood-id');
            debugger;
            var confirmDelete = confirm("Bu ürünü silmek istediğinizden emin misiniz?");

            if (confirmDelete && muavinId) {
                // AJAX isteği
                $.ajax({
                    url: '/Hesap/DeleteHesapMuavin?muavinId=' + muavinId,
                    // url: '/Meal/DeleteNewFood/' + newfoodId,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                        row.remove(); // Tablodan satırı kaldır
                    },
                    error: function () {
                        alert("Silme işlemi başarısız");
                    }

                });
            } else {
                alert("Ürün silinmedi");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Satırı silmek için
        // Fas fa-trash butonuna tıklanınca
        $('tbody').on('click', '.delete2', function () {
            var row = $(this).closest('tr');
            var taliId = $(this).data('newfood-id');
            debugger;
            var confirmDelete = confirm("Bu ürünü silmek istediğinizden emin misiniz?");

            if (confirmDelete && taliId) {
                // AJAX isteği
                $.ajax({
                    url: '/Hesap/DeleteHesapTali?taliId=' + taliId,
                    // url: '/Meal/DeleteNewFood/' + newfoodId,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                        row.remove(); // Tablodan satırı kaldır
                    },
                    error: function () {
                        alert("Silme işlemi başarısız");
                    }

                });
            } else {
                alert("Ürün silinmedi");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Satırı silmek için
        // Fas fa-trash butonuna tıklanınca
        $('tbody').on('click', '.delete3', function () {
            var row = $(this).closest('tr');
            var detayId = $(this).data('newfood-id');
            var confirmDelete = confirm("Bu ürünü silmek istediğinizden emin misiniz?");

            if (confirmDelete && detayId) {
                // AJAX isteği
                $.ajax({
                    url: '/Hesap/DeleteHesapDetay?detayId=' + detayId,
                    // url: '/Meal/DeleteNewFood/' + newfoodId,
                    type: 'GET',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                        row.remove(); // Tablodan satırı kaldır
                    },
                    error: function () {
                        alert("Silme işlemi başarısız");
                    }

                });
            } else {
                alert("Ürün silinmedi");
            }
        });
    });
</script>